<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>department</key>
			<string>总经理</string>
			<key>eMail</key>
			<string>test001@163.com</string>
			<key>employeeID</key>
			<string>0003</string>
			<key>enName</key>
			<string>name1</string>
			<key>name</key>
			<string>姓名1</string>
			<key>position</key>
			<string>总经理</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880001</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0001</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>department</key>
			<string>人事部</string>
			<key>eMail</key>
			<string>test002@163.com</string>
			<key>employeeID</key>
			<string>0051</string>
			<key>enName</key>
			<string>name2</string>
			<key>name</key>
			<string>姓名2</string>
			<key>position</key>
			<string>HR</string>
			<key>sex</key>
			<string>女</string>
			<key>telNum</key>
			<string>15988880002</string>
			<key>telNum1</key>
			<string>15699990001</string>
			<key>weixinNum</key>
			<string>weixin0002</string>
		</dict>
		<dict>
			<key>department</key>
			<string>人事部</string>
			<key>eMail</key>
			<string>test001@164.com</string>
			<key>employeeID</key>
			<string>0052</string>
			<key>enName</key>
			<string>name3</string>
			<key>name</key>
			<string>姓名3</string>
			<key>position</key>
			<string>HR</string>
			<key>sex</key>
			<string>女</string>
			<key>telNum</key>
			<string>15988880003</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0003</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>department</key>
			<string>财务部</string>
			<key>eMail</key>
			<string>test002@164.com</string>
			<key>employeeID</key>
			<string>0057</string>
			<key>enName</key>
			<string>name4</string>
			<key>name</key>
			<string>姓名4</string>
			<key>position</key>
			<string>财务</string>
			<key>sex</key>
			<string>女</string>
			<key>telNum</key>
			<string>15988880004</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0004</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>department</key>
			<string>行政部</string>
			<key>eMail</key>
			<string>test001@165.com</string>
			<key>employeeID</key>
			<string>0058</string>
			<key>enName</key>
			<string>name5</string>
			<key>name</key>
			<string>姓名5</string>
			<key>position</key>
			<string>行政</string>
			<key>sex</key>
			<string>女</string>
			<key>telNum</key>
			<string>15988880005</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0005</string>
		</dict>
		<dict>
			<key>department</key>
			<string>行政部</string>
			<key>eMail</key>
			<string>test002@165.com</string>
			<key>employeeID</key>
			<string>0082</string>
			<key>enName</key>
			<string>name6</string>
			<key>name</key>
			<string>姓名6</string>
			<key>position</key>
			<string>行政主管</string>
			<key>sex</key>
			<string>女</string>
			<key>telNum</key>
			<string>15988880006</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0006</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@166.com</string>
			<key>employeeID</key>
			<string>0053</string>
			<key>enName</key>
			<string>name7</string>
			<key>name</key>
			<string>姓名7</string>
			<key>position</key>
			<string>测试</string>
			<key>sex</key>
			<string>女</string>
			<key>telNum</key>
			<string>15988880007</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0007</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@166.com</string>
			<key>employeeID</key>
			<string>0054</string>
			<key>enName</key>
			<string>name8</string>
			<key>name</key>
			<string>姓名8</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880008</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0008</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@167.com</string>
			<key>employeeID</key>
			<string>0055</string>
			<key>enName</key>
			<string>name9</string>
			<key>name</key>
			<string>姓名9</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880009</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0009</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@167.com</string>
			<key>employeeID</key>
			<string>0056</string>
			<key>enName</key>
			<string>name10</string>
			<key>name</key>
			<string>姓名10</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>女</string>
			<key>telNum</key>
			<string>15988880010</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0010</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@168.com</string>
			<key>employeeID</key>
			<string>0059</string>
			<key>enName</key>
			<string>name11</string>
			<key>name</key>
			<string>姓名11</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880011</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0011</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@168.com</string>
			<key>employeeID</key>
			<string>0060</string>
			<key>enName</key>
			<string>name12</string>
			<key>name</key>
			<string>姓名12</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880012</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0012</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@169.com</string>
			<key>employeeID</key>
			<string>0061</string>
			<key>enName</key>
			<string>name13</string>
			<key>name</key>
			<string>姓名13</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880013</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0013</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@169.com</string>
			<key>employeeID</key>
			<string>0062</string>
			<key>enName</key>
			<string>name14</string>
			<key>name</key>
			<string>姓名14</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880014</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0014</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@170.com</string>
			<key>employeeID</key>
			<string>0064</string>
			<key>enName</key>
			<string>name15</string>
			<key>name</key>
			<string>姓名15</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880015</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0015</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@170.com</string>
			<key>employeeID</key>
			<string>0065</string>
			<key>enName</key>
			<string>name16</string>
			<key>name</key>
			<string>姓名16</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880016</string>
			<key>telNum1</key>
			<string>15699990002</string>
			<key>weixinNum</key>
			<string>weixin0016</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@171.com</string>
			<key>employeeID</key>
			<string>0067</string>
			<key>enName</key>
			<string>name17</string>
			<key>name</key>
			<string>姓名17</string>
			<key>position</key>
			<string>PD</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880017</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0017</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@171.com</string>
			<key>employeeID</key>
			<string>0068</string>
			<key>enName</key>
			<string>name18</string>
			<key>name</key>
			<string>姓名18</string>
			<key>position</key>
			<string>PD</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880018</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0018</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@172.com</string>
			<key>employeeID</key>
			<string>0069</string>
			<key>enName</key>
			<string>name19</string>
			<key>name</key>
			<string>姓名19</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880019</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0019</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@172.com</string>
			<key>employeeID</key>
			<string>0070</string>
			<key>enName</key>
			<string>name20</string>
			<key>name</key>
			<string>姓名20</string>
			<key>position</key>
			<string>测试</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880020</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0020</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@173.com</string>
			<key>employeeID</key>
			<string>0071</string>
			<key>enName</key>
			<string>name21</string>
			<key>name</key>
			<string>姓名21</string>
			<key>position</key>
			<string>视觉设计</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880021</string>
			<key>telNum1</key>
			<string>15699990001</string>
			<key>weixinNum</key>
			<string>weixin0021</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@173.com</string>
			<key>employeeID</key>
			<string>0072</string>
			<key>enName</key>
			<string>name22</string>
			<key>name</key>
			<string>姓名22</string>
			<key>position</key>
			<string>测试</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880022</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0022</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@174.com</string>
			<key>employeeID</key>
			<string>0073</string>
			<key>enName</key>
			<string>name23</string>
			<key>name</key>
			<string>姓名23</string>
			<key>position</key>
			<string>PD</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880023</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0023</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@174.com</string>
			<key>employeeID</key>
			<string>0074</string>
			<key>enName</key>
			<string>name24</string>
			<key>name</key>
			<string>姓名24</string>
			<key>position</key>
			<string>PD</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880024</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0024</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@175.com</string>
			<key>employeeID</key>
			<string>0075</string>
			<key>enName</key>
			<string>name25</string>
			<key>name</key>
			<string>姓名25</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880025</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0025</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@175.com</string>
			<key>employeeID</key>
			<string>0077</string>
			<key>enName</key>
			<string>name26</string>
			<key>name</key>
			<string>姓名26</string>
			<key>position</key>
			<string>前端开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880026</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0026</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@176.com</string>
			<key>employeeID</key>
			<string>0078</string>
			<key>enName</key>
			<string>name27</string>
			<key>name</key>
			<string>姓名27</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880027</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0027</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@176.com</string>
			<key>employeeID</key>
			<string>0080</string>
			<key>enName</key>
			<string>name28</string>
			<key>name</key>
			<string>姓名28</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880028</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0028</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@177.com</string>
			<key>employeeID</key>
			<string>0081</string>
			<key>enName</key>
			<string>name29</string>
			<key>name</key>
			<string>姓名29</string>
			<key>position</key>
			<string>前端开发</string>
			<key>sex</key>
			<string>女</string>
			<key>telNum</key>
			<string>15988880029</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0029</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@177.com</string>
			<key>employeeID</key>
			<string>0083</string>
			<key>enName</key>
			<string>name30</string>
			<key>name</key>
			<string>姓名30</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880030</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0030</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@178.com</string>
			<key>employeeID</key>
			<string>0084</string>
			<key>enName</key>
			<string>name31</string>
			<key>name</key>
			<string>姓名31</string>
			<key>position</key>
			<string>平台</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880031</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0031</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@178.com</string>
			<key>employeeID</key>
			<string>0085</string>
			<key>enName</key>
			<string>name32</string>
			<key>name</key>
			<string>姓名32</string>
			<key>position</key>
			<string>视觉设计</string>
			<key>sex</key>
			<string>女</string>
			<key>telNum</key>
			<string>15988880032</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0032</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@179.com</string>
			<key>employeeID</key>
			<string>0086</string>
			<key>enName</key>
			<string>name33</string>
			<key>name</key>
			<string>姓名33</string>
			<key>position</key>
			<string>UI</string>
			<key>sex</key>
			<string>女</string>
			<key>telNum</key>
			<string>15988880033</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0033</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@179.com</string>
			<key>employeeID</key>
			<string>0087</string>
			<key>enName</key>
			<string>name34</string>
			<key>name</key>
			<string>姓名34</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>女</string>
			<key>telNum</key>
			<string>15988880034</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0034</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@180.com</string>
			<key>employeeID</key>
			<string>0089</string>
			<key>enName</key>
			<string>name35</string>
			<key>name</key>
			<string>姓名35</string>
			<key>position</key>
			<string>视觉设计</string>
			<key>sex</key>
			<string>女</string>
			<key>telNum</key>
			<string>15988880035</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0035</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@180.com</string>
			<key>employeeID</key>
			<string>0090</string>
			<key>enName</key>
			<string>name36</string>
			<key>name</key>
			<string>姓名36</string>
			<key>position</key>
			<string>前端开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880036</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0036</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@181.com</string>
			<key>employeeID</key>
			<string>0091</string>
			<key>enName</key>
			<string>name37</string>
			<key>name</key>
			<string>姓名37</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880037</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0037</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@181.com</string>
			<key>employeeID</key>
			<string>0092</string>
			<key>enName</key>
			<string>name38</string>
			<key>name</key>
			<string>姓名38</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>女</string>
			<key>telNum</key>
			<string>15988880038</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0038</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@182.com</string>
			<key>employeeID</key>
			<string>0093</string>
			<key>enName</key>
			<string>name39</string>
			<key>name</key>
			<string>姓名39</string>
			<key>position</key>
			<string>安卓</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880039</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0039</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@182.com</string>
			<key>employeeID</key>
			<string>0094</string>
			<key>enName</key>
			<string>name40</string>
			<key>name</key>
			<string>姓名40</string>
			<key>position</key>
			<string>测试</string>
			<key>sex</key>
			<string>女</string>
			<key>telNum</key>
			<string>15988880040</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0040</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@183.com</string>
			<key>employeeID</key>
			<string>0096</string>
			<key>enName</key>
			<string></string>
			<key>name</key>
			<string>姓名41</string>
			<key>position</key>
			<string>IOS</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880041</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0041</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@183.com</string>
			<key>employeeID</key>
			<string>0097</string>
			<key>enName</key>
			<string></string>
			<key>name</key>
			<string>姓名42</string>
			<key>position</key>
			<string>前台</string>
			<key>sex</key>
			<string>女</string>
			<key>telNum</key>
			<string>15988880042</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0042</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@184.com</string>
			<key>employeeID</key>
			<string>T001</string>
			<key>enName</key>
			<string></string>
			<key>name</key>
			<string>姓名43</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880043</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0043</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@184.com</string>
			<key>employeeID</key>
			<string>T002</string>
			<key>enName</key>
			<string></string>
			<key>name</key>
			<string>姓名44</string>
			<key>position</key>
			<string>平台</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880044</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0044</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@185.com</string>
			<key>employeeID</key>
			<string>T003</string>
			<key>enName</key>
			<string></string>
			<key>name</key>
			<string>姓名45</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880045</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0045</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@185.com</string>
			<key>employeeID</key>
			<string>T004</string>
			<key>enName</key>
			<string></string>
			<key>name</key>
			<string>姓名46</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880046</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0046</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@186.com</string>
			<key>employeeID</key>
			<string>T005</string>
			<key>enName</key>
			<string></string>
			<key>name</key>
			<string>姓名47</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880047</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0047</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@186.com</string>
			<key>employeeID</key>
			<string>T006</string>
			<key>enName</key>
			<string></string>
			<key>name</key>
			<string>姓名48</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880048</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0048</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@187.com</string>
			<key>employeeID</key>
			<string>T007</string>
			<key>enName</key>
			<string></string>
			<key>name</key>
			<string>姓名49</string>
			<key>position</key>
			<string>安卓</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880049</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0049</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@187.com</string>
			<key>employeeID</key>
			<string>T008</string>
			<key>enName</key>
			<string></string>
			<key>name</key>
			<string>姓名50</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880050</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0050</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@188.com</string>
			<key>employeeID</key>
			<string>T009</string>
			<key>enName</key>
			<string></string>
			<key>name</key>
			<string>姓名51</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880051</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0051</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@188.com</string>
			<key>employeeID</key>
			<string>T010</string>
			<key>enName</key>
			<string></string>
			<key>name</key>
			<string>姓名52</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880052</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0052</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@189.com</string>
			<key>employeeID</key>
			<string>T011</string>
			<key>enName</key>
			<string></string>
			<key>name</key>
			<string>姓名53</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>女</string>
			<key>telNum</key>
			<string>15988880053</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0053</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@189.com</string>
			<key>employeeID</key>
			<string>T012</string>
			<key>enName</key>
			<string></string>
			<key>name</key>
			<string>姓名54</string>
			<key>position</key>
			<string>产品</string>
			<key>sex</key>
			<string>女</string>
			<key>telNum</key>
			<string>15988880054</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0054</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@190.com</string>
			<key>employeeID</key>
			<string>T013</string>
			<key>enName</key>
			<string></string>
			<key>name</key>
			<string>姓名55</string>
			<key>position</key>
			<string>JAVA开发</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880055</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0055</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test002@190.com</string>
			<key>employeeID</key>
			<string>T014</string>
			<key>enName</key>
			<string></string>
			<key>name</key>
			<string>姓名56</string>
			<key>position</key>
			<string>产品</string>
			<key>sex</key>
			<string>男</string>
			<key>telNum</key>
			<string>15988880056</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0056</string>
		</dict>
		<dict>
			<key>department</key>
			<string>研发部</string>
			<key>eMail</key>
			<string>test001@191.com</string>
			<key>employeeID</key>
			<string>T015</string>
			<key>enName</key>
			<string></string>
			<key>name</key>
			<string>姓名57</string>
			<key>position</key>
			<string>产品</string>
			<key>sex</key>
			<string>女</string>
			<key>telNum</key>
			<string>15988880057</string>
			<key>telNum1</key>
			<string></string>
			<key>weixinNum</key>
			<string>weixin0057</string>
		</dict>
	</array>
</array>
</plist>
